@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.App{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efeaea;
}

.heading-root{
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#top-text{
    font-size: 6dvh;
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: #ff6a00;
    font-weight: 800;
    z-index: 2;
    transform: translate(-8.5dvw, 5dvh);
}

#between-text{
    z-index: 1;
    font-size: 8.5dvh;
    color: white;
}

#bottom-text{
    font-size: 6dvh;
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: #ff6a00;
    font-weight: 800;
    z-index: 2;
    transform: translate(9dvw, -6.5dvh);
}

.heading{
    font-weight: 900;
}
