.home-root{
    margin-top: 5.5dvh;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #efeaea;
}

.generated-password{
    text-align: center;
    font-weight: normal;
    width: 35dvw;
    height: 8dvh;
    cursor: text;
    padding: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.3dvh;
}

.gen-pass{
    color: #000;
    font-weight: 900;
}

.gen-btn{
    margin-bottom: 8dvh;
    width: 20dvw;
    height: 8dvh;
    border-radius: 8dvh;
    font-size: large;
    cursor: pointer;
    color: white;
    display: flex;
	justify-content: center;
	align-items: center;
    background-color: #7c1fff;
    box-shadow: 5px 5px #000000;
    border: 1px black solid;
}

.gen-btn:hover{
    background-color: #66b3ff;
    color: #000000;
    box-shadow: 5px 5px #000000;
}

.gen-btn::after{
    transform: translate3d(10px, 10px, 100px);

}

.slider-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.length-of-pass{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: medium;
    background-color: #7c1fff;
    box-shadow: 4px 4px #000000;
    border: 1px black solid;
    border-radius: 0.5dvh;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer; 
    margin: 1dvw;
}

.btn:hover { /* Button hover effect */
    background-color: #66b3ff; /* Slightly darken on hover */
}

.slider-value{
    margin-left: 0.2dvw;
}


#length{
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background-color: #ccc;
}

#length::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: #7c1fff;
    border-radius: 50%;
    border: none;
}

.options-div{
    display: flex;
    width: 50dvw;
    justify-content: space-between;
    align-items: center;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    margin-left: 6px;
    font-weight: normal;
    font-size: large;
}

.options-div .check input[type="checkbox"]:checked + label {
    font-weight: bold;
}

.options-div .check input[type="checkbox"]:checked {
    accent-color: #7c1fff; /* Replace #00ff00 with your desired color */
  }

@media (min-width: 320px) and (max-width: 801px) {
    
    .generated-password{
        font-size: 4dvw;
    }
    .gen-pass{
        color: #000;
        font-weight: 900;
        font-size: 4.5dvw;
    } 
    
    .btn{
        width: 5dvw;
        height: 5dvh;
    }
    #length{
        margin-left: 1dvw;
    }

    .slider-value{
        margin-left: 1dvw;
    }

    .options-div{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .gen-btn{
        width: 40dvw;
    }

}